.footer-colums {
  display: flex;
}

.footer-colum {
  flex: 50;
  margin: 20px;
}

header,
footer {
  background-color: hsl(0, 75%, 33%);
  padding: 10px;
}

main {
  padding: 10px;
  background-color: hsl(0, 89%, 72%);
}

.post {
  background-color: hwb(0 83% 1%);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

p {
  font-family: 'Inter', sans-serif;
}

.post img {
  margin: 20px;
}

h3 {
  font-family: "Pacifico", cursive;
}

.comment {
  background-color: hsl(0, 76%, 38%);
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  ;
}

.author {
  margin-top: 0px;
  margin-bottom: 10px;
}


#menu1 {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 10;
}

#menu1 ul {
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  list-style: none;
}

#menu1>ul::after {
  display: block;
  width: 100%;
  height: 0px;
  clear: both;
  content: " ";
}

#menu1 ul li {
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
}

#menu1 ul li a {
  display: block;
  padding: 9px 25px 0px 25px;
  font-size: 14px;
  line-height: 1.3em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  height: 36px;
  box-sizing: border-box;
  color: #ffffff;
}

#menu1 ul li ul {
  position: absolute;
  top: 36px;
  left: 0px;
  display: none;
  width: 200px;
  background: hwb(0 6% 0%);
}

#menu1 ul li:hover ul {
  display: block;
}

#menu1 ul li ul li {
  float: none;
  width: 100%;
}

#menu1 ul li ul li a {
  display: block;
  text-transform: none;
  height: auto;
  padding: 7px 25px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid lab(100% 0.01 -0.01);
  color: hsl(0, 0%, 100%);
}

#menu1 ul li ul li:first-child a {
  border-top: 0px;
}